body
{
    margin-left: 0px;
    margin-right: 0px;
    width: fit-content;
}

#bloc_page
{
    width: 375px;
    height: auto;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
}



#conteneur
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    width: 100%;
    height: 130px;
    justify-content: unset;
    margin-left: 0%;
}

.element:nth-child(1)
{
    margin-bottom: 10px;
    display: flex;
    padding-bottom: 10px;
    margin-left: 20px;
}

.element:nth-child(2)
{
    display: flex;
    order: 3;
    padding-bottom: 10px;
    width: 187px;
    justify-content: center;
    border-bottom:  3px solid #0065FC;
}

.element:nth-child(3)
{
    display: flex;
    justify-content: center;
    order: 4;
    margin-right:-10px;
    margin: 0;
    padding-bottom: 10px;
    width: 188px;
    border-bottom: 3px solid #F2F2F2;
}

.element:nth-child(4)
{
    display: flex;
    text-align: center;
    margin-right: 20px;
}

nav a:hover
{
    border: none;
    color: black;
}

#bloc_titre
{
    margin-left: 20px;
    margin-right: 20px;
}

#recherche
{
    width: 100%;
}


#conteneur_recherche
{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    width: fit-content;
}

#champ_recherche
{
    width: 230px;
}

#bouton_recherche
{
    width: 50px;
    display: none;
}

.icone_recherche
{
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 20px 20px 20px 20px;
}

.icone_recherche
{
    display :flex;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
    color: white;
    width: 50px;
    height: 50px;
    border: 1px #F2F2F2 solid;
    border-radius: 15px 15px 15px 15px;
    margin-left: -10px;
}

#filtres
{
    display: flex;
    width: 100%;
    flex-wrap: wrap; 
    margin-left: 20px;
    
}

#conteneur_filtres
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.elements_filtres
{
    display: flex;
    margin-top: 13px;
    width: 100%;
}

#filtre_double
{
    width: 100%;
}

#filtre_eco
{
    width: 130px;
}

#filtre_familial
{
    width: 115px;
}

#filtre_romantique
{
    width: 145px;
}

#filtre_animaux
{
    width: 195px;
}


#conteneur_info
{   
    display: flex;
    align-content: center;
    margin-left: 20px;
    width: auto;
}

section
{
    width: 100%;
}

.icone_info
{
    color: #0065FC;
    height: 25px;
    width: 25px;
    border: 2px solid #F2F2F2 ;
    border-radius: 12.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
      
}

.phrase_info
{
    padding-left: 12px;
}

#conteneur_sections
{
    height: 100%;
    width: 375px;
    margin-top: 0%;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    border: none;
}



.conteneur_vignettes
{
    width: 100%;
    flex-wrap: wrap;
}

#conteneur_hebergements
{
    width: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: white;
    
}

.phrase_info
{
    padding-top: 20px;
    width: 100%;
    margin: 0%;
}

.fond_hebergement
{
    background-color: white;
    width: 335px;
    border: 1px #F2F2F2 solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px #F2F2F2;
    margin-bottom: 12px;
    
}

.chambre_hebergement
{
    height: 115px;
    width: 325px;
    border-radius: 20px 20px 0px 0px;
    margin: 5px;
    object-fit: cover;
    
    
}

.titre_hebergement
{
    padding-left: 10px;
    font-weight: bolder;
    margin-top: 10px;
    font-size: 10px;
}

.prix_hebergement
{
    padding-left: 10px;
    margin-top: 10px;
    font-size: 10px; 
}

.note_hebergement
{
    color: #0065FC;
    padding-left: 10px;
    margin-top: 10px;
}

.phrase_hebergement
{
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
}

#conteneur_populaires
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap; 
    border-radius: 0%;
    
}

.fond_populaires
{
    width: 335px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    
}

.texte_populaires
{
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.conteneur_titrepop
{
    margin-left: 35px;
    margin-bottom: 15px;

}

.phrase_pop
{
    margin-top: 30px;
    font-size: 17px;
    margin: 0px;
    justify-content: center;
}

.icone_pop
{
    margin: auto;
    margin-right: 20px;
}

#conteneur_activites
{
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 22px;
    
}

.conteneur_vignettes2
{
    height: 1310px;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    width: 100%;
    
    
}

.phrase
{
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;  
}



.fond_activités1
{
    height: 190px;
    width: 325px;
    margin-top: 25px;
    
}

.fond_activités2
{
    height: 190px;
    width: 325px;
    
    margin-top: 25px;
}

.conteneur_double
{
    
    height: auto;
    width: 325px;
    flex-direction: column;
    
}

.fond_fort
{
    height: 190px;
    width: 325px;
    margin-top: 25px;
    
}

.fond_frioul
{
    height: 190px;
    width: 325px;
    margin-top: 25px;
    
}

.img_activités1
{
    height: 115px;
    width: 325px;
    
}
.img_activités2
{
    height: 115px;
    width: 325px;
}

.img_fort
{
    height: 115px;
    width: 325px;
}

.img_iles
{
    height: 115px;
    width: 325px;
}

#conteneur
{
    display: flex;
    flex-wrap: wrap;
}

#conteneur_footer
{
   
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

footer
{
    height: auto;
    width: 100%;
    margin: 0%;
}

.liens_footer
{
    margin-bottom: 20px;
}