
#bloc_page
{
    margin-left: 40px;
    
}

body
{
    height: fit-content;
}

footer
{
    background-color: #F2F2F2;
    width: 1440px;
    height: 150%;
}

#conteneur_footer
{
    height: 100%;
    background-color: orange;
}